

.social-icons {
    display: flex;
    list-style-type: none;
  
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: $primary-color;
      margin-right: 20px;
      transition: 0.6s all;
  
      &:hover {
        background-color: $color-white;
        color: $primary-color;
      }
    }
  }
  
  